In [25]:
import pandas as pd
pew = pd.read_csv('pew.csv')

In [26]:
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [28]:
income_range_list = list(pew.columns)
income_range_list.remove('religion')

In [29]:
pew = pd.melt(pew, id_vars= ['religion'], value_vars = income_range_list, var_name = 'income_range', value_name = 'frequency')

In [32]:
pew

                    religion income_range  frequency
0                   Agnostic        <$10k         27
1                    Atheist        <$10k         12
2                   Buddhist        <$10k         27
3                   Catholic        <$10k        418
4          Dont know/refused        <$10k         15
5          Evangelical Prot         <$10k        575
6                     Hindu         <$10k          1
7   Historically Black Prot         <$10k        228
8          Jehovahs Witness         <$10k         20
9                    Jewish         <$10k         19
10                  Agnostic      $10-20k         34
11                   Atheist      $10-20k         27
12                  Buddhist      $10-20k         21
13                  Catholic      $10-20k        617
14         Dont know/refused      $10-20k         14
15         Evangelical Prot       $10-20k        869
16                    Hindu       $10-20k          9
17  Historically Black Prot       $10-20k        244
18         Jehovahs Witness       $10-20k         27
19                   Jewish       $10-20k         19
20                  Agnostic      $20-30k         60
21                   Atheist      $20-30k         37
22                  Buddhist      $20-30k         30
23                  Catholic      $20-30k        732
24         Dont know/refused      $20-30k         15
25         Evangelical Prot       $20-30k       1064
26                    Hindu       $20-30k          7
27  Historically Black Prot       $20-30k        236
28         Jehovahs Witness       $20-30k         24
29                   Jewish       $20-30k         25
30                  Agnostic      $30-40k         81
31                   Atheist      $30-40k         52
32                  Buddhist      $30-40k         34
33                  Catholic      $30-40k        670
34         Dont know/refused      $30-40k         11
35         Evangelical Prot       $30-40k        982
36                    Hindu       $30-40k          9
37  Historically Black Prot       $30-40k        238
38         Jehovahs Witness       $30-40k         24
39                   Jewish       $30-40k         25
40                  Agnostic      $40-50k         76
41                   Atheist      $40-50k         35
42                  Buddhist      $40-50k         33
43                  Catholic      $40-50k        638
44         Dont know/refused      $40-50k         10
45         Evangelical Prot       $40-50k        881
46                    Hindu       $40-50k         11
47  Historically Black Prot       $40-50k        197
48         Jehovahs Witness       $40-50k         21
49                   Jewish       $40-50k         30
50                  Agnostic      $50-75k        137
51                   Atheist      $50-75k         70
52                  Buddhist      $50-75k         58
53                  Catholic      $50-75k       1116
54         Dont know/refused      $50-75k         35
55         Evangelical Prot       $50-75k       1486
56                    Hindu       $50-75k         34
57  Historically Black Prot       $50-75k        223
58         Jehovahs Witness       $50-75k         30
59                   Jewish       $50-75k         95

## Question 2

In [3]:
import pandas as pd 
billboard = pd.read_csv('billboard.csv')
billboard

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
week_list = list(billboard.columns)[5:]
tag_list = list(billboard.columns)[0:5]

In [5]:
billboard_new = pd.melt(billboard, id_vars = tag_list , value_vars = week_list, 
        var_name = 'week', value_name = 'rank')

In [6]:
billboard_new['week'] = billboard_new['week'].str.extract('(\d+)').astype(int)
billboard_new

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,76,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,76,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,76,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,76,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,76,NaN

In [7]:
billboard_new.dtypes

artiste          object
track            object
genre            object
date.entered     object
date.peaked      object
week              int32
rank            float64
dtype: object

In [8]:
billboard_new['date.entered'] = pd.to_datetime(billboard_new['date.entered'])
billboard_new['date.peaked'] = pd.to_datetime(billboard_new['date.peaked'])

In [9]:
billboard_new.dtypes

artiste                 object
track                   object
genre                   object
date.entered    datetime64[ns]
date.peaked     datetime64[ns]
week                     int32
rank                   float64
dtype: object

In [10]:
billboard_new

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,76,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,76,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,76,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,76,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,76,NaN

In [11]:
billboard_new = billboard_new.assign(entered_to_peak = billboard_new['date.peaked']-billboard_new['date.entered'])

In [12]:
billboard_new['entered_to_peak'] =  billboard_new['entered_to_peak'].dt.days

In [13]:
billboard_new.dtypes

artiste                    object
track                      object
genre                      object
date.entered       datetime64[ns]
date.peaked        datetime64[ns]
week                        int32
rank                      float64
entered_to_peak             int64
dtype: object

In [14]:
billboard_new[(billboard_new['rank'] == 1) & (billboard_new['entered_to_peak'] == 35)]

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
1588,Madonna,Music,Rock,2000-08-12,2000-09-16,6,1.0,35
1905,Madonna,Music,Rock,2000-08-12,2000-09-16,7,1.0,35
2222,Madonna,Music,Rock,2000-08-12,2000-09-16,8,1.0,35
2539,Madonna,Music,Rock,2000-08-12,2000-09-16,9,1.0,35